<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" color="primary"></ion-icon>
        </button>
        <ion-title>
            <span ion-text color="primary">Ask for a Topic</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="preapproved lightest-bg">

	<ion-grid fixed>
		<ion-row>
			<ion-col>
				<ion-card class="primary-bg">
					<ion-card-content>
						<p class="text-white">Complete the form with your assencial data for you and ask for your topic</p>
					</ion-card-content>
				</ion-card>

				<ion-card>
					<ion-card-content>
						<form [formGroup]="onApprovedForm" (ngSubmit)="onSubmit()" class="list-form">
							<ion-list margin-bottom>
								<ion-item>
									<ion-label>Use my profile data</ion-label>
									<ion-checkbox formControlName="profiledata"></ion-checkbox>
								</ion-item>
								<p ion-text color="danger" class="text-1x has-error" *ngIf="onApprovedForm.get('profiledata').touched && onApprovedForm.get('profiledata').hasError('required')">This field is required</p>

								<ion-item>
									<ion-label color="primary" stacked ><b>Topic Object:</b></ion-label>
									<ion-textarea type="text" placeholder="object here..." formControlName="objectid" [(ngModel)]="ChoosePlanData.titre"></ion-textarea>
								</ion-item>
								<p ion-text color="danger" class="text-1x has-error" *ngIf="onApprovedForm.get('objectid').touched && onApprovedForm.get('objectid').hasError('required')">This field is required</p>

								<ion-item>
									<ion-label color="primary" stacked><b>Topic :</b></ion-label>
									<ion-textarea type="textarea" class="area-topic" placeholder="your description..." formControlName="topic" [(ngModel)]="ChoosePlanData.question" ></ion-textarea>
								</ion-item>
								<p ion-text color="danger" class="text-1x has-error" *ngIf="onApprovedForm.get('topic').touched && onApprovedForm.get('topic').hasError('required')">This field is required</p>

								<ion-list>
									<ion-item>
										  <ion-label color="primary">Category :</ion-label>
										  <ion-select formControlName="category" [(ngModel)]="ChoosePlanData.categorie">
											<ion-option value="test1">test1</ion-option>
											<ion-option value="test2">test2</ion-option>
											<ion-option value="test3">test3</ion-option>
											<ion-option value="test4">test4</ion-option>
										  </ion-select>
										</ion-item>
									</ion-list>
								<p ion-text color="danger" class="text-1x has-error" *ngIf="onApprovedForm.get('category').touched && onApprovedForm.get('category').hasError('required')">This field is required</p>

							</ion-list>
							<ion-item>
								<input type="file" id="file-input" style="opacity: 0" #fileInp>
								<button block ion-button class="upload">Upload</button>
							  </ion-item>
							<button ion-button block color="primary" type="submit">Post the topic</button>
						</form>
					</ion-card-content>
				</ion-card>

			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
