<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>
      <span ion-text color="primary">Home</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="funnel" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="lightest-bg">

	<div padding-horizontal padding-top>
	  <ion-segment [(ngModel)]="proptype">
	    <ion-segment-button value="">
	      All
	    </ion-segment-button>
	    <ion-segment-button value="answered">
	      Answered
	    </ion-segment-button>
	    <ion-segment-button value="not answered">
	      Not answered
	    </ion-segment-button>
	  </ion-segment>
	</div>

  <ion-grid no-padding>
	  <ion-row>
			<ion-col col col-12 col-md-6 *ngFor="let property of properties | termSearch:proptype:'label'" >
	      <ion-card margin-bottom no-padding>
	        <div class="card-img-wrap">
	          <span ion-text class="card-img-status sale fw300 text-white" [ngClass]="{'rent': property.label === 'rent', 'sale': property.label === 'sale'}">
	          </span>
	        </div>
	        <ion-card-content>
	          <ion-card-title ion-text color="dark" tappable (click)="openPropertyDetail(property)" no-margin no-padding>
							object
						</ion-card-title>
	          <p ion-text color="primary" no-margin>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi vitae non incidunt fugit quis modi adipisci, quos facilis nam consequuntur culpa repellendus sunt exercitationem delectus assumenda quas ullam perferendis atque.
						</p>

	          <hr margin-vertical>

	          <p ion-text color="dark">
	            <ion-icon name="heart"></ion-icon> 3 |
							<ion-icon name="ios-eye"></ion-icon> 4 |
							5	 answers
							
	          </p>
	        </ion-card-content>
	      </ion-card>
			</ion-col>
	  </ion-row>

	  <ion-row *ngIf="viewMode === 'map'">
	  	<ion-col style="width:100%; height:100vh;" id="map" no-padding></ion-col>
	  </ion-row>

	</ion-grid>

</ion-content>

<ion-footer padding>
    <ion-segment [(ngModel)]="viewMode">
        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="map" (ionSelect)="showMap()">
            <ion-icon name="map"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>
