<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>
      <span ion-text color="primary">Home</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="funnel" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="lightest-bg">

	<div padding-horizontal padding-top >
	  <ion-segment [(ngModel)]="proptype">
	    <ion-segment-button value="">
	      All
			</ion-segment-button>
			<ion-segment-button value="answered">
				Answered
			</ion-segment-button>
			<ion-segment-button value="unanswered">
	      Not answered
	    </ion-segment-button>
	  </ion-segment>
	</div>

  <ion-grid no-padding>
	  <ion-row  *ngIf="viewMode === 'list'">
			<ion-col col col-12 col-md-6 *ngFor="let property of properties | termSearch:proptype:'status'" >
	      <ion-card class="boxShadow" margin-bottom no-padding >
	        <div class="card-img-wrap">
	          <span ion-text class="card-img-status sale fw300 text-white" [ngClass]="{'rent': property.status == 'answered', 'sale': property.status == 'unanswered'}">
							{{property.status}}
	          </span>
	        </div>
	        <ion-card-content>
	          <ion-card-title ion-text color="primary" tappable (click)="openPropertyDetail(property)" no-margin no-padding>
								{{property.titre}}  <span class="categorie"> ( {{property.categorie}} ) </span>
						</ion-card-title>
	          <p ion-text color="dark" no-margin>
								{{property.question}}
						</p>

	          <hr margin-vertical>

	          <p ion-text color="dark">
	            <ion-icon name="heart" color="danger"></ion-icon>&nbsp;  3 | &nbsp;
							<ion-icon name="ios-eye" color="primary"></ion-icon>&nbsp;  4  &nbsp;| &nbsp;
							5	 answers
							
	          </p>
	        </ion-card-content>
	      </ion-card>
			</ion-col>
	  </ion-row>

	</ion-grid>

</ion-content>

<ion-footer class="footer-segment" padding>
    <ion-segment [(ngModel)]="viewMode">
        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>
