.searchbar-input {
  box-shadow: none !important;
}

// Card
ion-card {
	img {
		max-height: 280px;
	}
}

.card-img-wrap .card-img-status{
	font-size: 1.65rem;
	width: 158px;
	top: 22px;
  right: -39px;
}

ion-footer {
  padding: 8px 16px !important;
}
.back-button {
	color: #5d9d9c;
}
.categorie{
	font-size: 12px;
		font-weight: normal;
}	

.card-title-md{
	font-size:2rem
}

.boxShadow {
	-webkit-box-shadow: 7px 3px 28px 3px rgba(118,142,148,0.7);
	-moz-box-shadow: 7px 3px 28px 3px rgba(118,142,148,0.7);
	box-shadow: 7px 3px 28px 3px rgba(118,142,148,0.7);
}