<!-- -->
<ion-content padding class="initial-background-md initial-background-ios">
	<div class="auth-content">

		<!-- Logo -->
		<div padding-horizontal text-center>
			<div class="logo">
				<img src="assets/img/icon_eko.png">
			</div>
		</div>

		<div padding-vertical>
			<ion-segment [(ngModel)]="auth" color="light">
				<ion-segment-button value="login">
		    	  Login
		    	</ion-segment-button>
		  	</ion-segment>
		</div>

		<div [ngSwitch]="auth">
			<!-- Login form -->
			<div id="loginForm">
				<form [formGroup]="authForm" (ngSubmit)="doLogin(authForm.value)" class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="contact" item-start class="text-white"></ion-icon>
							Username
						</ion-label>
						<ion-input class="valid-value" type="email" formControlName="username" [(ngModel)]="loginData.username"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-1x has-error" *ngIf="authForm.get('username').touched && authForm.get('username').hasError('required')">This field is required</p>

						<ion-item>
						<ion-label floating>
							<ion-icon name="lock" item-start class="text-white"></ion-icon>
							Password
						</ion-label>
						<ion-input class="valid-value" type="password" formControlName="password" placeholder="Password" [(ngModel)]="loginData.password"></ion-input>
					</ion-item>
					<p ion-text	 color="danger" class="text-1x has-error" *ngIf="authForm.get('password').touched && authForm.get('password').hasError('required')">This field is required</p>
					
					<p text-right ion-text color="light" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>
					
					<div>
						<button ion-button icon-start block outline color="light" type="submit" name="button">
							<ion-icon name="log-in"></ion-icon>
							SIGN IN
						</button>
					</div>
				</form>
			</div>
		</div>


	</div>
</ion-content>
