<!-- -->
<ion-content padding class="initial-background-md initial-background-ios">
	<div class="auth-content">

		<!-- Logo -->
		<div padding-horizontal text-center>
			<div class="logo">
				<img src="assets/img/icon_eko.png">
			</div>
		</div>

		<div padding-vertical>
		  <ion-segment [(ngModel)]="auth" color="light">
		    <ion-segment-button value="login">
		      Login
		    </ion-segment-button>
		  </ion-segment>
		</div>

		<div [ngSwitch]="auth">
			<!-- Login form -->
			<div id="loginForm" *ngSwitchCase="'login'">
				<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="mail" item-start class="text-white"></ion-icon>
							Email
						</ion-label>
						<ion-input type="email" formControlName="email" [(ngModel)]="regData.email"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-1x has-error" *ngIf="authForm.get('email').touched && authForm.get('email').hasError('required')">This field is required</p>

					<ion-item>
						<ion-label floating>
							<ion-icon name="lock" item-start class="text-white"></ion-icon>
							Password
						</ion-label>
						<ion-input type="password" formControlName="password" [(ngModel)]="regData.plainPassword"></ion-input>
					</ion-item>
					<p ion-text	 color="danger" class="text-1x has-error" *ngIf="authForm.get('password').touched && authForm.get('password').hasError('required')">This field is required</p>
					
					<p text-right ion-text color="light" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>
					
					<div>
						<button ion-button icon-start block outline color="light" type="submit" name="button">
							<ion-icon name="log-in"></ion-icon>
							SIGN IN
						</button>
					</div>
				</form>
			</div>
		</div>


	</div>
</ion-content>
