<ion-header>
    <ion-navbar>
        <ion-title>
            <span ion-text color="primary">EKO</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="lightest-bg">
	<ion-grid fixed>
		<ion-row>
			<ion-col>

				<ion-card *ngIf="property.id">
					<button ion-item (click)="openBrokerDetail(property.broker)" color="light">
							<ion-avatar item-left>
								<img src="assets/img/avatar.png"/>
							</ion-avatar>
							<h2 ion-text color="dark" class="fw500">username</h2>
							<p ion-text color="primary">Il y'a un mois</p>
					</button>
					<ion-card-content class="light-mb">
						<br>
							<h2 ion-text color="primary" class="card-title">Object</h2>
							<hr>
							<p ion-text color="dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aliquid perspiciatis repellat quae excepturi hic. Voluptate, quo qui vero nulla debitis aperiam nobis id omnis excepturi est itaque placeat amet?</p>
						</ion-card-content>
						
						<ion-list>
						<ion-item>
								<ion-icon item-left name="heart"></ion-icon>
								<h3>3 personnes aime ca</h3>
								<h3>33 personnes ont commenté ce topic</h3>
						</ion-item>
					</ion-list>

					<ion-item>
							<button ion-button icon-left (click)="favorite(property)" clear item-left>
									<ion-icon name="heart"></ion-icon>
									Favorite
							</button>
							<button ion-button icon-left (click)="share(property)" clear item-right>
									<ion-icon name="share"></ion-icon>
									Share
							</button>
					</ion-item>
				</ion-card>

				<ion-card *ngIf="property.id">
						<button ion-item (click)="openBrokerDetail(property.broker)" color="light">
								<ion-avatar item-left>
									<img src="assets/img/avatar.png"/>
								</ion-avatar>
								<h2 ion-text color="dark" class="fw500">username</h2>
								<p ion-text color="primary">Il y'a un mois</p>
						</button>
						<br>
						<ion-card-content class="light-mb">
								<p ion-text color="dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aliquid perspiciatis repellat quae excepturi hic. Voluptate, quo qui vero nulla debitis aperiam nobis id omnis excepturi est itaque placeat amet?</p>
							</ion-card-content>
					</ion-card>
					<ion-card *ngIf="property.id">
							<button ion-item (click)="openBrokerDetail(property.broker)" color="light">
									<ion-avatar item-left>
										<img src="assets/img/avatar.png"/>
									</ion-avatar>
									<h2 ion-text color="dark" class="fw500">username</h2>
									<p ion-text color="primary">Il y'a un mois</p>
							</button>
							<ion-card-content class="light-mb">
						<br>

									<p ion-text color="dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aliquid perspiciatis repellat quae excepturi hic. Voluptate, quo qui vero nulla debitis aperiam nobis id omnis excepturi est itaque placeat amet?</p>
								</ion-card-content>
						</ion-card>
						<ion-card>
							<ion-grid>
									<ion-item class="ion-item-comment">
											<ion-label color="dark" stacked><b>Comment:</b></ion-label>
											<ion-input type="text" placeholder="" value=""></ion-input>
										</ion-item>
								<ion-item>
										<button ion-button block round  color="primary" margin-top>add Comment</button>
								</ion-item>
							</ion-grid>
						</ion-card>
									

			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
