page-change-password {
    .profile {
            background-color:#eeeded;
        .card {
            width: 95%;
            margin: auto;
            margin-top: 80px;
            border-radius: 5px;
            .card-header{
                height: 38px;
                font-weight: bold;
                p{
                    font-weight:bold;
                }
            }
            .grid{
                padding:0px;
                .row{
                    width: 100%;
                    margin: 0px;
                    .col{
                        width: 100%;
                        margin: 0px;
                        padding: 0px;
                        .list{
                            margin: 0px;
                            .item{
                                .item-inner{
                                    margin: 0px 20px 0px 20px;
                                }
                            }
                        }
                    }
                }
            }
              .item {
                  padding-left: 0;
                  &.item-block {
                      .item-inner {
                        border-style: solid;
                        border-width: 1px;
                        border-color: transparent;
                        border-bottom-color: rgba(color($colors, primary), .2);
                      }
                  }
              }
        }
        .lien{
          text-decoration: none;
        }
        ion-card {
      
          margin-top: 100px;
          overflow: visible;
      
        }
        .btn-group {
          .button-ios,
          .button-md {
            border-radius: 0;
            &:first-of-type {
              border-radius: 2px 0 0 2px;
            }
            &:last-of-type {
              border-radius: 0 2px 2px 0;
            }
          }
        }
      
        .icone-btn{
          margin-right: 10px;
        }
        .footer-account{
          background-color:#eeeded; 
        }
        .btn-edit{
            height:40px;
            font-size: 14px
        }
      }
      
}
